<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
    <h1>Create a Baskball Team!</h1>
   <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
   
    <form method="POST" action="/team">
      <label for="name">Team Name</label>    
      <input type="text" name="  name"><br />
      
      <label for="coach">Coach</label> 
      <input type="text" name="coach"><br />
      
      <label for="pg">Point Guard</label> 
      <input type="text" Point Guard="pg"><br />
      
      <label for="sg">Shooting Guard</label> 
      <input type="text" Shooting Guard="sg"><br />
      
      
       <label for="pf">Power Forward</label> 
      <input type="text" Power Forward="pf"><br />
    
       <label for="sf">Small Forward</label> 
      <input type="text" Small Foward="sf"> <br />    
      
       <label for="c">Center</label> 
      <input type="text" Center="c"> <br />
      
     <button type="submit" value="Submit">Submit</button>

 <body>
 </body>
</html>


