<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  its own <h2> tag -->
    <% @friends.each do |friend| %>
      <h2><%= friend %></h2>
    <% end %>
    </form>
 </body>
</html>



