<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Create a Baskball Team!</h1>
   <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <form method="POST" action="/team">
      <label for="name">Name</label>
    <input type="text" name="    name"><br />
    <label for="description">Description</label>
    <input type="text" name="description"><br />
    <input type="submit">
    
      <input type="text" Team Name="string">
      <input type="text" Coach="string">
      <input type="text" Point Guard="string">
      <input type="text" Shooting Guard="string">
      <input type="text" Small Foward="string">
      <input type="text" Power Forward="string">
      <input type="text" Center="string">
      <input type="submit">
    </form>

 </body>
</html>



